.homepage__container {
  .top-bar-bottom {
    height: 5vh;
    width: 100vw;
    border-bottom: black 1px solid;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .homepage__container {
    .top-bar-bottom {
      position: fixed;
      top: 5rem;
      .explore__icon {
        display: none;
      }
    }
  }
}
