@import "../App.scss";
.homepage__container {
  overflow-y: scroll;
  height: 100vh;
  .vid__container {
    width: 100vw;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .video {
      height: 100%;
      background-image: url("../../assets/images.jpeg");
      background-size: contain;
      background-repeat: no-repeat;
    }
    .video__description {
      display: flex;
      justify-content: space-around;
      align-items: center;
      h2 {
        font-size: 15px;
        color: white;
      }
      p {
        color: $text-color;
      }
      .profile__picture {
        height: 3rem;
        width: 3rem;
        border: $border-color 1px solid;
        border-radius: 50%;
        background-image: url("../../assets/unnamed.jpg");
        background-position: center;
        background-size: contain;
      }
    }
  }
}
