@import "../../App.scss";
.top-bar-container {
  height: 3.25rem;
  background-color: $black-primary;
  width: 100vw;
  padding-top: 0.25rem;
  .top-bar-top {
    background-color: $black-primary;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $border-color 1px solid;
    .top-l {
      width: 20%;
      .logo-container {
        height: 5vh;
        .logo {
          height: 2.5rem;
          width: 7.25rem;
          cursor: pointer;
        }
      }
      .menu__icon {
        height: 2rem;
        width: 1.75rem;
        cursor: pointer;
        display: none;
      }
      .menu__icon:hover {
        background-color: rgba(255, 255, 255, 0.24);
        border-radius: 50%;
      }
    }
    .top-r {
      padding: 0 1rem;
      display: flex;
      gap: 1rem;
      .create__video__icon {
        display: none;
      }
      .create__video__icon:hover {
        background-color: rgba(255, 255, 255, 0.24);
        border-radius: 50%;
      }
      .notifications__icon {
        display: none;
      }
      .notifications__icon:hover {
        background-color: rgba(255, 255, 255, 0.24);
        border-radius: 50%;
      }
      .profile-icon {
        background-color: orange;
        height: 25px;
        width: 25px;
        border-radius: 100%;
      }
    }
  }
}
@media (min-width: 768px) {
  .top-bar-container {
    display: flex;
    flex-direction: column;
    .top-bar-top {
      border-bottom: none;
      .top-l {
        .menu__icon {
          display: block;
        }
      }
      .top-r {
        .notifications__icon {
          display: block;
          cursor: pointer;
        }
        .create__video__icon {
          cursor: pointer;
          display: block;
        }
        .search__icon {
          display: none;
        }
      }
    }
  }
}
