.top-bar-container {
  width: 100vw;
  height: 10%;
  .top-bar-top {
    padding: 1rem 0;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    .top-l {
      position: absolute;
      left: 1rem;
      display: flex;
      align-items: center;
      .logo-container {
        height: 5.5rem;
        .logo {
          height: 5.5rem;
        }
      }
      .menu__icon {
        display: none;
      }
    }
    .top-r {
      position: absolute;
      right: 1rem;
      display: flex;
      gap: 1rem;
      .create__video__icon {
        display: none;
      }
      .notifications__icon {
        display: none;
      }
      .profile-icon {
        background-color: orange;
        height: 25px;
        width: 25px;
        border-radius: 100%;
      }
    }
  }
  .top-bar-bottom {
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .top-bar-container {
    position: fixed;
    .top-bar-top {
      .top-l {
        .menu__icon {
          display: block;
        }
      }
      .top-r {
        .notifications__icon {
          display: block;
        }
        .create__video__icon {
          display: block;
        }
        .search__icon {
          display: none;
        }
      }
    }
    .top-bar-bottom {
      position: fixed;
      top: 5rem;
      .explore__icon {
        display: none;
      }
    }
  }
}
