@import "./../../../../App.scss";

.sidebar.open {
  background-color: $black-primary;
  z-index: 120;
  .sidebar__content {
    color: white;
    .section {
      gap: 0.25rem;
      border-bottom: $border-color 1px solid;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0.25rem;
      .sidebar__path {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
