@import "../App.scss";
.vid__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .video {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    cursor: pointer;
    .thumbnail {
      width: 100vw;
    }
    .duration {
      position: absolute; /* Position the duration absolutely */
      bottom: 0; /* Position it at the top */
      right: 0; /* Position it at the right */
      background-color: rgba(0, 0, 0, 0.3); /* Add transparency */
      color: white;
      padding: 0.25rem 0.5rem; /* Add padding for better visibility */
      border-top-left-radius: 15px; /* Match the thumbnail border radius */
    }
  }
  .video__description {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    .video__description__text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      h2 {
        line-height: 1.5;
        font-weight: 500;
        font-size: 15px;
        color: white;
      }
      .info__section {
        display: flex;
        .video__info {
          color: $text-color;
          font-size: 12px;
        }
        .channel__name {
          color: $text-color;
          font-size: 12px;
        }
      }
    }
    .profile__picture {
      height: 2.5rem;
      width: 2.5rem;
      border: 1px solid transparent;
      border-radius: 50%;
      box-sizing: border-box;
      img {
        border: none;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: 768px) {
  .vid__container {
    .video {
      .thumbnail {
        width: 100%;
        border-radius: 15px;
      }
    }
    .video__description {
      justify-content: left;
      gap: 1.5rem;
      svg {
        margin: auto;
        fill: transparent;
      }

      &:hover {
        svg {
          fill: white;
        }
      }
      .video__description__text {
        cursor: pointer;
        h2 {
          color: white;
          font-size: 17px;
        }
        .info__section {
          flex-direction: column;
          .video__info {
            font-size: 15px;
          }
        }
      }
    }
    .video__description__results {
      display: flex;
      flex-direction: row-reverse;
      .video__description__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h2 {
          color: white;
        }
        p {
          color: $text-color;
        }
        .info__section {
          margin-top: 1rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
          color: $text-color;
          .profile__picture {
            height: 2.5rem;
            width: 2.5rem;
            border: 1px solid transparent;
            border-radius: 50%;
            box-sizing: border-box;
            img {
              border: none;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
