@import "../App.scss";
.vid__container {
  height: 16.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .video {
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    .thumbnail {
      width: 100%;
    }
  }
  .video__description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .video__description__text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      h2 {
        line-height: 1.5;
        font-weight: 500;
        font-size: 15px;
        color: white;
      }
      p {
        color: $text-color;
        font-size: 12px;
      }
    }
    .profile__picture {
      height: 2.5rem;
      width: 2.5rem;
      border: $border-color 1px solid;
      border-radius: 50%;
      box-sizing: border-box;
      img {
        border: none;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: 768px) {
  .vid__container {
    width: 350px;
    height: 250px;
    display: flex;
    margin-bottom: 2rem;
    .video {
      width: 317px;
      height: 178px;
      margin-bottom: 0.5rem;
      .thumbnail {
        border-radius: 15px;
      }
    }
    .video__description {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .video__description__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        img {
          height: 2.5rem;
          width: 2.5rem;
          border: $border-color 1px solid;
          border-radius: 50%;
          box-sizing: border-box;
        }
        h2 {
          color: white;
          font-size: 15px;
        }
      }
      .video__description__text {
        margin-left: 3.5rem;
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 1700px) {
  .vid__container {
    margin-bottom: 2rem;
    .video {
      width: 350px;
      margin-bottom: 2rem;
    }
  }
}
