@import "../../App.scss";
.bottom__bar__container {
  align-items: center;
  position: absolute;
  z-index: 5;
  bottom: 0;
  .bottom__bar__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    background-color: $black-primary;
    padding-top: 0.3rem;
    .bottom__bar__path {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      font-weight: 200;
      font-size: 12px;
    }
  }
}
