@import "../../App.scss";
.search__container {
  background-color: $black-primary;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5rem;
  z-index: 30;
  height: 5vh;
  align-items: center;
  .mic__icon {
    padding: 0.25rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .search__bar {
    color: white;
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    .search__bar__input {
      background-color: $black-primary;
      border: $border-color 1px solid;
      color: white;
      padding: 0 0.5rem;
      border-radius: 15px;
      width: 80%;
      height: 80%;
      border: none;
      outline: none;
      caret-color: transparent;
      animation: blink-animation 10s infinite step-start;
    }
    ::placeholder {
      color: white;
    }
    .search__icon__container {
      width: 20%;
      height: 100%;

      border-radius: 0 15px 15px 0;
      display: flex;
      .search__bar__icon {
        margin: auto;
      }
    }
  }
}
.search__container.open {
  display: flex;
  width: 100vw;
  position: absolute;
}
@keyframes blink-animation {
  50% {
    caret-color: white;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .search__container {
    position: absolute;
    left: 25rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 40vw;
    height: 5vh;
    align-items: center;

    .mic__icon {
      padding: 0.25rem;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
    }
    .arrow__icon {
      display: none;
    }
    .search__bar {
      display: flex;
      align-items: center;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      .search__bar__input {
        border: none;
        outline: none;
        caret-color: transparent;
        animation: blink-animation 1s infinite step-start;
      }
    }
  }
}
