.top-bar-top {
  width: 90vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .logo-container {
    height: 200%;
    .logo {
      height: 100%;
    }
  }

  .top-r {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .profile-icon {
      background-color: orange;
      height: 25px;
      width: 25px;
      border-radius: 100%;
    }
  }
}
