@import "../../../../App.scss";

@media (min-width: 768px) {
  .top-bar-container {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;
    .top-l {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      flex-shrink: 0;
      .menu__icon {
        display: block;
      }
      .logo-container {
        display: flex;
        align-items: center;
      }
    }
    .top__middle {
      height: 5vh;
      width: 30rem;
      position: absolute;
      top: 0.25rem;
      display: flex;
      align-items: center;
      .desktop__searchbar {
        color: white;
        padding-left: 1rem;
        height: 2.5rem;
        width: 100%;
        border-radius: 16px 0 0 16px;
        border: $border-color 1px solid;
        background-color: $black-primary;
        &:focus {
          outline: none;
        }
      }
      .icon__container {
        height: 2.5rem;
        width: 5rem;
        border: $border-color 1px solid;
        background-color: $darkish-gray;
        border-radius: 0 16px 16px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .top-r {
      position: absolute;
      top: 1rem;
      right: 0;
      display: flex;
      align-items: center;
      .notifications__icon {
        display: block;
        cursor: pointer;
        border: 1px transparent solid;
        background-color: transparent;
      }
      .create__video__icon {
        background-color: transparent;
        border: 1px transparent solid;
        cursor: pointer;
        display: block;
      }
      .search__icon {
        display: none;
      }
    }
  }
}
.modal {
  color: white;
  position: fixed;
  right: 1rem;
  top: 2.75rem;
  z-index: 20;
  background-color: $black-primary;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
