@import "../../../../App.scss";
.top-bar-container {
  display: flex;
  flex-direction: column;
  .top-bar-top {
    .top__middle {
      height: 5vh;
      position: absolute;
      top: 0.25rem;
      display: flex;
      align-items: center;
      .desktop__searchbar {
        height: 2.5rem;
        padding: 0 12.5rem;
        border-radius: 16px 0 0 16px;
        border: $border-color 1px solid;
        background-color: $black-primary;
      }
      .icon__container {
        height: 2.5rem;
        width: 5rem;
        border: $border-color 1px solid;
        background-color: $darkish-gray;
        border-radius: 0 16px 16px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .modal {
    color: white;
    position: fixed;
    right: 1rem;
    top: 2.75rem;
    z-index: 20;
    background-color: $black-primary;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .top-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 5;
    .top-bar-top {
      margin-top: 1rem;
      width: 100vw;
      display: flex;
      justify-content: space-evenly;
      height: 5vh;
      border-bottom: none;
      .top-l {
        position: absolute;
        top: 0.25rem;
        left: 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .menu__icon {
          display: block;
          margin: 0.5rem;
        }
        .logo-container {
          display: flex;
          align-items: center;
        }
      }
      .top-r {
        position: absolute;
        top: 1rem;
        right: 0;
        display: flex;
        align-items: center;
        .notifications__icon {
          display: block;
          cursor: pointer;
        }
        .create__video__icon {
          cursor: pointer;
          display: block;
        }
        .search__icon {
          display: none;
        }
      }
    }
  }
}
