@import "../../App.scss";
.top-bar-bottom {
  padding: 1.15rem 0.5rem;
  height: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  .bottom__nav__icon__container {
    cursor: pointer;
    padding: 0.25rem 0.55rem;
    margin: 0 0.45rem;
    border-radius: 0.15rem;
    background-color: hsla(0, 0%, 50%, 0.436);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom__nav__item__container {
    background-color: hsla(0, 0%, 50%, 0.436);
    cursor: pointer;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    border: 1px transparent solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :active {
    background-color: white;
    color: black;
  }
}
.top-bar-bottom::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .top-bar-bottom {
    top: 3.9rem;
    left: 5.5rem;
    position: absolute;
    background-color: $black-primary;
    border-bottom: none;
    z-index: 2;
    .bottom__nav__icon__container {
      display: none;
      .explore__icon {
        display: none;
      }
    }
  }
}
