@import "../../App.scss";
.top-bar-bottom {
  height: 5vh;
  width: 100vw;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  border-bottom: $border-color 1px solid;
  gap: 0.5rem;
  overflow-x: scroll;
  .bottom__nav__icon__container {
    cursor: pointer;
    padding: 0.25rem 0;
    border-radius: 5px;
    border: 1px white solid;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom__nav__item__container {
    cursor: pointer;
    color: white;
    padding: 0.4rem 0;
    border-radius: 8px;
    border: 1px white solid;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.top-bar-bottom::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .top-bar-bottom {
    border-bottom: none;
    .bottom__nav__icon__container {
      display: none;
      .explore__icon {
        display: none;
      }
    }
  }
}
